<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>


  <div class="page">
    <header class="header">
      <div class="header__container">
        <a href="/" class="header__logo">
          <img class="header__img" src="{{ url_for('static', filename='img/logo01.jpg') }}" alt="logo">
        </a>
        <nav class="header__nav">
          <a href="{{ url_for('index') }}" class="nav-link{% if request.path == url_for('index') %} active{% endif %}">Главная</a>
          <a href="{{ url_for('posts') }}" class="nav-link{% if request.path == url_for('posts') %} active{% endif %}">Публикации</a>
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}" class="nav-link nav-link-logout">Выйти</a>
          {% else %}
            <a href="{{ url_for('login') }}" class="nav-link nav-link-login{% if request.path == url_for('login') %} active{% endif %}">Войти</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main class="content">

      {% block content %}

      {% endblock %}

    </main>



    <footer class="footer">
      &copy; {{ 2025 }} chechen-community
    </footer>
  </div>
  
</body>
</html>