{% extends 'base.html' %}


{% block title %}
Главная
{% endblock %}

{% block content %}

<h1> Чеченское игровое сообщество </h1>
<P>Мы — молодое игровое сообщество из Чеченской Республики, объединённое общей страстью к видеоиграм, технологиям и дружескому общению. Наша цель — создать уютное и активное пространство для геймеров всех уровней: от новичков до опытных игроков.

Мы развиваемся вместе с вами, организуем совместные игры, турниры, стримы и просто проводим время в хорошей компании. Нас объединяет не только любовь к играм, но и стремление поддерживать культуру уважения, взаимопомощи и братства.

Присоединяйся — будь частью первого геймерского сообщества Чеченской Республики и участвуй в его становлении!</P>

<a class=" tg_button " href="https://t.me/thesemeiev">
  <button>Ссылка на телеграмм администратора</button>
</a>

{% endblock %}

