{% extends 'base.html' %}


{% block title %}
Главная
{% endblock %}

{% block content %}

<h1> Чеченское игровое сообщество </h1>
<P>Мы — молодое игровое сообщество из Чеченской Республики, объединённое общей страстью к видеоиграм, технологиям и дружескому общению. Наша цель — создать уютное и активное пространство для геймеров всех уровней: от новичков до опытных игроков.

Мы развиваемся вместе с вами, организуем совместные игры, турниры, стримы и просто проводим время в хорошей компании. Нас объединяет не только любовь к играм, но и стремление поддерживать культуру уважения, взаимопомощи и братства.

Присоединяйся — будь частью первого геймерского сообщества Чеченской Республики и участвуй в его становлении!</P>


<div style="display: flex; justify-content: center; margin-top: 24px;">
  <a href="https://t.me/thesemeiev" class="btn btn-primary" style="max-width:340px; width:100%; text-align:center;" target="_blank" rel="noopener noreferrer">
    Ссылка на телеграм администратора
  </a>
</div>

{% endblock %}

